<if condition="$ukey eq 0 ">
<div class="user-off-line">
	<img src="__cmmimg__/user.jpg" width="29" height="29" class="vm" >
	<button value="登录" class="modal login-btn" data-modal="login"><i class="i-icon">B</i> 登录</button>
	<a href="<!--{$G.siteurl}-->/register.html" class="register-btn">注册</a>
</div>
<else/>
<div class="user-on-line cl">
	<a href="/member/post" class="user-a-btn"><i class="i-icon z">S</i>我要贴图</a>
	<a href="/member/infocenter" class="user-name dropdown" data-id="user_menu">
		<img src="<!--{$user.avtimg|default='/Static/common/images/user.jpg'}-->" width="30" height="30" title="进入个人用户中心" class="vm">
		<!--{$user.username}-->
		<span class="caret"></span>
	</a>
	<ul class="user-menu none absolute" id="user_menu">
		<li><a href="/member/myinfo">个人信息</a></li>
		<li><a href="/member/myinfo/revision">头像修改</a></li>
		<li><a href="/member/myinfo/video">我的贴图</a></li>
		<li><a href="/member/myinfo/reply">我的回复</a></li>
		<li><a href="/member/logout">安全退出</a></li>
	</ul>
</div>
</if>