<include file="Admin/Template/default/common/header.html"/>
<div id="main" class="cl">
    <div class="colbox">
        <div class="col-header"><a href="/index.php/Admin" class="col-cls" title="关闭"></a><i class="ui">L</i>快捷菜单</div>
        <div class="p-col">
            <div class="col cl">
                <form action="<!--{:U('Config/up_insert')}-->" method="post">
                    <table class="form-table">
                        <tbody>
                            
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Admin/Template/default/common/footer.html"/>