<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>个人中心 - <!--{$G.sitename}--></title>
	<meta name="keywords" content="<!--{$nav.keywords}-->" />
    <meta name="description" content="<!--{$nav.description}-->"/>
    <meta name="powered" content="powered by weitcms">
    <meta name="contact" content="qq:763093576 mobile:17722515002">
	<include file="Member/Template/default/common/css.html"/>
	<css file="__mcss__/member.min.css"/>
</head>
<body>
	<include file="Member/Template/default/common/header.html"/>
	<div class="tf"></div>
	<div id="container">
		<section class="wp cl">
			<include file="Member/Template/default/common/user_block.html"/>
			<div class="main-member">
			we
			</div>
		</section>
	</div>
	<div class="tw"></div>
	<include file="Home/Template/default/common/footer.html"/>
</body>
</html>