<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><!--{$G.sitename}--></title>
	<meta name="keywords" content="<!--{$G.keywords}-->" />
    <meta name="description" content="<!--{$G.description}-->"/>
    <meta name="powered" content="powered by weitcms">
    <meta name="contact" content="qq:763093576 mobile:17722515002">
	<include file="Home/Template/default/common/css.html"/>
</head>
<body>
<include file="Home/Template/default/common/header.html"/>
<div class="tw"></div>
<div class="container">
	<section class="wp cl">
		<ul class="list relative" id="pull">
			<volist name="list" id="vo">
				<li class="item">
					<a href="<!--{$G.siteurl}-->/topic/<!--{$vo.id}-->.html">
					<img alit="<!--{$vo.title}-->"  class="thumb" data-original="<!--{$G.siteurl}-->/<!--{$vo.lipic}-->" src="__homeimg__/loading.gif" width="193"></a>
					<h3>[<a href="<!--{$G.siteurl}-->/<!--{$vo.url}-->.html"><!--{$vo.name}--></a>]  <a href="/topic/<!--{$vo.id}-->.html"><!--{$vo.title}--></a></h3>
				</li>
			</volist>
		</ul>
	</section>
</div>
<include file="Home/Template/default/common/footer.html"/>
<js file="__cmmjs__/jquery.masonry.js"/>
<script>
	$(function(){
	    var $container = $('#pull');
	    $container.imagesLoaded( function(){
	        $container.masonry({
	            itemSelector : '.item',
	            gutterWidth : 20,
	            isAnimated: true,
	        });
	    });
	});
</script>
</body>
</html>
