<include file="Admin/Template/default/common/header.html"/>

<div id="main" class="cl">
    <div class="colbox">
         <div class="col-header"><a href="/index.php/Admin" class="col-cls" title="关闭"></a><i class="ui i-loc2"></i>修改密码</div>
        <div class="p-col">
        	<form role="form" action="<!--{:U('Member/repass')}-->" method="post">
			     <table class="form-table">
			     <tbody>
			        <tr>
			        	<td>原密码</td>
			        	<td><input class="c200w" type="password" name="spass" placeholder="原密码"></td>
			        </tr>
			        <tr>
			        	<td>新密码</td>
			        	<td><input class="c200w" type="password" name="password" placeholder="新密码"></td>
			        </tr>
			        <tr>
			        	<td>重复新密码</td>
			        	<td><input class="c200w" type="password" name="repass" placeholder="重复新密码"></td>
			        </tr>
			        <tr style="height:50px;">
			        	<td>验证码</td>
			        	<td><input class="c120w" type="text" name="verify" placeholder="输入下面验证码，不区分大小写">
			        	<img src="<!--{:U('Public/verify')}-->" alt="" class="vm" id="verifyImg" onclick="fleshVerify()" class="cursor">点击刷新</td>
			        </tr>
		        	<tr>
		        		<td></td>
		        		<td><input type="submit" value="确认修改"></td>
		        	</tr>
		        	</tbody>
		      </table>
		    </form>
		</div>
	<include file="Home/Template/default/common/member_footer.html"/>
	<script language="JavaScript">
     function fleshVerify(){ 
        //重载验证码
        var time = new Date().getTime();
            document.getElementById('verifyImg').src= '<!--{:U('Public/verify','','')}-->/'+time;
     }
 </script>
        </div>
    </div>
</div>
<include file="Admin/Template/default/common/footer.html"/>