<include file="Admin/Template/default/common/header.html"/>

<div id="main" class="cl">
    <div class="p-col cl">
        <include file="Admin/Template/default/Content/pub_menu.html"/>
        <div class="p-col brd">
            <div class="ui-th"><i class="ui i-talk2"></i>填写栏目信息</div>
            <div class="p-col">
                <ul class="trst-form">
                    <form action="<!--{:U('Content/add_channel_exe')}-->" method="post">
                        <tr><td>名称</td><input type="text" name="name" id="name" class="c200w"></tr>
                        <tr><td>上级</td>
                            <select name="pid" <if condition="$type eq 0">disabled</if>>
                                <option value="0" >请选择</option>
                                <votrst name="channel" id="vo">
                                    <option value="<!--{$vo.id}-->" <if condition="$type eq $vo['id']">selected = "true"</if>><!--{$vo.html}--><!--{$vo.name}--></option>
                                </votrst>
                            </select>
                        </tr>
                        <tr><td>栏目连接</td><input type="text" name="url" class="c160w" id="url"></tr>
                        <tr><td>显示模板</td><input type="text" name="tpl" class="c160w"></tr>
                        <tr><td>栏目类型</td><input type="radio" name="type" value="1"><span class="form-text">单页面</span><input type="radio" name="type" value="2" checked="checked"><span class="form-text">列表页</span><input type="radio" name="type" value="3"><span class="form-text">封面面</span></tr>
                        <tr><td>导航显示</td><input type="radio" name="nav" value="1"><span class="form-text">显示</span><input type="radio" name="nav" value="0" checked="checked"><span class="form-text">不显示</span></tr>
                        <tr><td>排序</td><input type="text" name="sort" class="c6w"></tr>
                        <tr><td>&nbsp;</td><input type="submit" value="提交"></tr>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<include file="Admin/Template/default/common/footer.html"/>
<script type="text/javascript" src="/Static/common/js/jQuery.Hz2Py-min.js"></script>
<script type="text/javascript">
$(function (){
    $("#name").mouseover(function (){
        $("#url").val($(this).toPinyin());
    });
});
</script>