<include file="Admin/Template/default/common/header.html"/>
<div id="main" class="cl">
    <div class="colbox">
        <div class="col-header"><a href="/index.php/Admin" class="col-cls" title="关闭"></a><i class="ui i-loc2"></i>发布内容</div>
        <div class="p-col">
            <form action="<!--{:U('Content/ed_page_exe')}-->" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<!--{$ed.id}-->">
                    <input type="hidden" name="litpic" value="<!--{$ed.litpic}-->">
                <table class="form-table">
                    <tbody>
                    <tr>
                        <td>标题</td>
                        <td><input type="text" name="title" class="c400w" value="<!--{$ed.title}-->"></td>
                    </tr>
                    <tr>
                        <td>选择栏目</td>
                        <td>
                            <select name="cid">
                                <option value="0">请选择栏目</option>
                                <volist name="channel" id="vo">
                                <option value="<!--{$vo.id}-->" <if condition="$ed['cid'] eq $vo['id']">selected = "true"</if>><!--{$vo.html}--><!--{$vo.name}--></option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>文章内容</td>
                        <td><textarea name="body" id="Content"><!--{$ed.body|htmlspecialchars_decode|stripslashes}--></textarea></td>
                    </tr>
                    <tr>
                        <td>关键字</td>
                        <td><input type="text" name="keywords" class="c400w" value="<!--{$ed.keywords}-->"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="发布"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<js file="__umeditor__/umeditor.config.js"/>
<js file="/Static/ueditor/ueditor.config.js"/>
<js file="/Static/ueditor/ueditor.all.min.js"/>
<js file="/Static/ueditor/ue_config.js"/>
</html>