<include file="Admin/Template/default/common/header.html"/>
<div id="main" class="cl">
    <div class="colbox">
         <div class="col-header"><a href="/index.php/Admin" class="col-cls" title="关闭"></a><i class="ui">B</i>页面管理</div>
        <div class="p-col">
            <table class="table-list" border="1">
                <tbody>
                    <tr>
                        <th width="15"><input type="checkbox" id="checkbox_all"></th>
                        <th>页面名称</th>
                        <th width="30">id</th>
                        <th width="30">pid</th>
                        <th width="180">操作</th>
                    </tr>
                    <volist name="list" id="vo" mod="2">
                    <tr <eq name="mod" value="1">class="spec"</eq>>
                        <td> <input type="checkbox" name="tid[]" value="<!--{$vo.id}-->"></td>
                        <td><!--{$vo.name}--></td>
                        <td><!--{$vo.id}--></td>
                        <td><!--{$vo.pid}--></td>
                        <td>
                            <a href="<!--{:U('Content/ed_page',array(id=>$vo['id']))}-->" title="编辑"><i class="ui">S</i></a>
                            <a href="<!--{:U('Index/prompt',array(id=>$vo['id'],t=>'page'))}-->" title="删除"><i class="ui">V</i></a>
                        </td>
                    </tr>
                    </volist>
                    <tr>
                        <td colspan="2"><div class="page"><!--{$page}--></div></td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
</div>
<include file="Admin/Template/default/common/footer.html"/>