<header class="header">
	<div class="wp cl">
		<h2 class="logo">
			<a href="<!--{$G.siteurl}-->"><img  alt="<!--{$sitename}-->" src="__homeimg__/logo.png" width="227" height="45"></a>
		</h2>
		<nav class="nav z">
			<ul>
				<li><a href="<!--{$G.siteurl}-->"><i class="i-icon">A</i></a></li>
				<volist name="channel" id="vo">
					<li <if condition="$vo['url'] eq ACTION_NAME"> class="active"</if>><a href="<!--{$G.siteurl}-->/<!--{$vo.url}-->.html"><!--{$vo.name}--></a></li>
				</volist>
			</ul>
		</nav>
		<div class="search">
			<form action="search" method="get">
				<input type="text" name="keyword" placeholder="搜一下吧" class="keyword"><input type="submit" class="search-btn" value="搜索">
			</form>
		</div>
	</div>
</header>
<div class="tw"></div>
<section class="wp user-info-banner">
	<ul class="slidebox">
		<li><a href="javascript:void(0)"><img src="__mimg__/user_banner_0.jpg" /></a></li>
		<li><a href="javascript:void(0)"><img src="__mimg__/user_banner_1.jpg" /></a></li>
		<li><a href="javascript:void(0)"><img src="__mimg__/user_banner_2.jpg" /></a></li>
		<li><a href="javascript:void(0)"><img src="__mimg__/user_banner_3.jpg" /></a></li>
	</ul>
	<div class="member-index-avtimg cl">
		<a href="/member/re_avtimg" class="z"><img src="<!--{$user.avtimg|default='/Static/common/images/user.png'}-->" alt="<!--{$user.username}-->" title="修改头像" width="160" height="160"></a>
		<div class="member-user-info">
			<div class="user-username"><i class="i-icon">p</i><!--{$user.username}--><small class="xs2 mlm">欢迎回来！</small></div>
			<div class="user-score">
				<div class="z mrm"><i class="i-icon">B</i>用户组：<!--{$user.username}--></div>
				<div class="z mrm"><i class="i-icon">g</i>经验<!--{$user.score}--></div>
				<div class="z mrm"><i class="i-icon">c</i>微币：<!--{$user.wb}--></div>
			</div>
		</div>
	</div>
</section>